<!DOCTYPE html>
<html>
  <head>
    <title><%= Settings.name %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :stylesheets if content_for?(:stylesheets)%>
    <%= yield :javascripts if content_for?(:javascripts)%>
  </head>

  <body>
    <div class="notice"><%= notice %></div>
    <div class="alert"><%= alert %></div>

    <%= yield %>
  </body>
</html>
