<!DOCTYPE html>
<html>
  <head>
    <title><%= Settings.name %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="viewport-fit=cover, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height">

    <%= yield :stylesheets if content_for?(:stylesheets)%>
    <%= yield :javascripts if content_for?(:javascripts)%>
  </head>

  <body>
    <div class="notice"><%= notice %></div>
    <div class="alert"><%= alert %></div>

    <%= yield %>
  </body>
</html>
